:root {
  --primaryCasinoClub: #db576b;
  --primaryCasinoClub2: #EB4C4C;
  --white-color: #fff;
  --bg-color: #18181b;
  --white-grey: #E9E9EB;
}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-casino {
  padding: 6px 30px;
  border-radius: 20px;
  color: var(--white-grey);
  font-size: 14px;
  transition: all 0.3s ease;

  &:hover {
    scale: 0.95;
  }
}

.btn-login {
  border: 1px solid #D4D4D8;
}

.btn-signup {
  background: var(--primaryCasinoClub);
}

.title-home{
  color: var(--primaryCasinoClub);
  font-size: 36px;
  font-weight: 700;
}

input {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}